name: Pub Publish dry run

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Publish dry run
        uses: k-paxian/dart-package-publisher@master
        with:
          credentialJson: "MockCredentialJson"
          accessToken: "MockAccessToken"
          refreshToken: "MockRefreshToken"
          flutter: true
          dryRunOnly: true
